body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22.4px;
	color: #6c7279;
}
#header {
	background: url(images/banner.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}

.logo {
	padding-top: 10px;
}

.nav-top {
	padding: 40px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.hero-part {
	padding: 10% 0;
	text-align: center;
}

	.hero-part h1{
		font-size: 65px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.hero-part p {
		font-size: 22px;
		margin-bottom: 40px;
}

.nav>li>a {
	color: #fff; 
	font-size: 16px;
	text-transform: uppercase; 
	font-weight: 700;
	font-family: 'Droid Sans', sans-serif;
}
.nav>li>a:hover{
	color: #337ab7
}

.section-space {
	padding: 30px 0 30px;
}

#feature i {
	font-size: 67px
}

#feature h4 {
	font-size: 14px;
	color:#2d3033;
	text-transform: uppercase;
	font-weight: 700;
}

#feature i {
	color: #e84545;
  font-size: 60px;
}